# 📌 Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# 📌 C extensions
*.so

# 📌 Diretórios de distribuição
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
develop-eggs/

# 📌 PyInstaller
*.spec

# 📌 Logs e cache de execução
*.log
logs/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.pytype/
.pyre/
ruff_cache/

# 📌 Banco de dados e configurações do projeto
database/livraria_test_data.json

# 📌 Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 📌 Configurações de IDEs (PyCharm, VSCode)
.vscode/
.idea/
.spyproject/
.ropeproject/

# 📌 Jupyter Notebooks
.ipynb_checkpoints/

# 📌 Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db