# Dependências essenciais
pytest==8.3.4
pytest-cov==6.0.0
ruff==0.9.4

# Utilitários de testes e cobertura de código
iniconfig==2.0.0
pluggy==1.5.0
coverage==7.6.10
packaging==24.2

# Formatação e linting
wheel==0.45.1